.wp-block-icb-cards {
	.icbCards {
		.components-placeholder {
			border-radius: inherit;
		}

		&.horizontal {
			.components-placeholder {
				max-width: 50%;
			}
		}
	}
	.activeCards{
		border: 1px solid white;
	}
}

.bPlPanelBody {
	.components-base-control__help {
		font-size: 11px;
		margin-top: 4px;
	}

	
}